{% extends 'repo_base.html' %} 

{% load humanize %}

{% block style %}
<style type="text/css" media="screen">
    #editor { 
        /* position: absolute; */
        /* width: 500px; */
        height: 70vh;
    }
</style>
{% endblock %}

{% block body %}
<ul class="container list-group">
    <div class="d-flex justify-content-between mb-3">
      <div class="d-flex">
        <div class="dropdown">
          <button
            class="btn btn-sm btn-secondary dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ branch }}
          </button>
          <ul class="dropdown-menu">
            {% for b in branches %}
                <li>
                    <a class="dropdown-item" href="{% url 'tree-view' username=username name=name branch=b path='' %}">
                        {% if b == branch %}
                            <i class="bi bi-check"></i> {{ b }}
                        {% else %}
                            {{ b }}
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <i class="bi bi-sliders me-2 ms-3"></i>{{ total_branch }}
          <span class="fw-light">branches</span>
        </div>
      </div>
    </div>

    <li class="list-group-item">
        <div class="d-flex justify-content-between">
            <span>
                Lines | {{ size | filesizeformat }}                
            </span>
            <div>
                <button class="btn" data-clipboard-text="{{ content }}">
                    Copy <i class="bi bi-clipboard"></i>
                </button>
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div id="editor">{{ content }}</div>
    </li>
  </ul>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.13.0/src-noconflict/ace.min.js" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/ace-builds@1.13.0/src-min-noconflict/theme-github.js"></script>
<script>
    var editor = ace.edit("editor", {
        selectionStyle: 'text'
    });
    editor.setTheme("ace/theme/github");
    editor.setReadOnly(true);
    editor.setFontSize(15);

    // editor.setTheme("ace/theme/monokai");
    // editor.session.setMode("ace/mode/javascript");
    // ace.config.set('basePath', 'path')
</script>
{% endblock script %}